
.landingDiv{
    background: url('../landing/pic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.landingDiv .des{
    position: absolute;
    top: 35%;
    left: 5%;
}

.landingDiv .des h1{
    font-size: 3em;
    font-weight: bold;
}